.flex-container {
  display: flex;
}

h3 {
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}

li {
  padding-bottom: 5px;
  white-space: nowrap;
}

li.selected {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.accountName {
  color: #4f81bd;
}

.accounts {
  padding: 10px 10px;
}

.transactions {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid grey;
}

.transactionTable {
  width: 100%;
}

.future {
  color: #777;
}

.management {
  margin: 20px;
  text-align: center;
}

.button {
  background-color: #4f81bd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.editing {
  background: #66ff66;
}

.warning {
  background-color: #ff6700;
}

.error {
  background: #ff6666;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

thead,
tfoot {
  color: #fff;
  background: #4f81bd;
  text-align: left;
}

th,
td {
  padding: 5px;
  border: 1px solid #95b3d7;
}

td[property="amount"],
td[property="balance"] {
  text-align: right;
}

tr:nth-child(even) {
  background: #dbe5f0;
}
